.box{
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 720px;
}
video{
    width: 100%;
    position: relative;
}
.time{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
*{
    margin: 0;
    padding: 0;
}

